    /*
    GLOBAL
    */
body, html, section{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
h2{
    text-align: center;
    font-size: 4rem;
    flex-direction: column;
    padding-top: 50px;
}
    /*
    GLOBAL
    END
    */

    /*
    Home and Nav
    */

#home{
    background-image: url("img/front.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
nav{
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#navWrap{
    display: none;
}
#navLogo{
    height: 50px;
    width: 76px;
}
#navLogo img{
    height: 100%;
    padding: 0;
    margin: 0;
}
ul{
    margin:0;
    padding: 0;
    list-style:none;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}
ul li{ 
    padding: 10px;
    font-size: 1.2rem;
    background-color: #444;
    opacity: 0.8;
}
ul li a{
    color: #fff; 
    text-decoration:none;
}
ul li:hover{
    background-color: #444;
    opacity: 1.0;
    cursor: pointer;
}

    /*
    Home and Nav
    END
    */

    /*
    Concerts Section
    */
#concerts{
    margin: 0;
    padding: 0;
    width: 100%;
}
#concertsDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#concerts .concert {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1vw;
    margin: 1vw;
    border-style: solid;
    border-color: #b3d9ff;
    border-width: 2px 0px 0px 0px;
    text-align: center;
    background-color: aliceblue;
}

#concerts .concert img{
    max-height: 40vh;
    width: 100%;
    
}
#concerts .concert .concertTitle{
    font-size: 1.3rem;
    border-style: dashed;
    border-color: #b3d9ff;
    border-width: 0px 0px 1px 0px;

}
#concerts .concert .concertDetails{
    font-size: 1.2rem;
}
#concerts .concert .concertPlace{
    border-style: dashed;
    border-color: #b3d9ff;
    border-width: 0px 0px 1px 0px;
}
#concerts .concert .concertDate{
    border-style: dashed;
    border-color: #b3d9ff;
    border-width: 0px 0px 1px 0px;
}

    /*
    Concerts Section
    END
    */

    /*
    About Section
    */
#about{
    background-color: lightsteelblue;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    color: white;
}
#aboutDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#aboutDiv p{
    margin: 10px;
    max-width: 40%;
}

        /*
    Singers
    */
#singers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: aliceblue;
}
.singer{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 222px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px;
}
.singerInfo{
    display: none;
    margin: 20;
    background-color: #444;
    opacity: 0.7;
    height: 100%;
    justify-content: center;
    font-size: 1.3rem;
}
.singer:hover > .singerInfo{
    display: flex;
    flex-direction: column;
}
#tomek{
    background-image: url("img/tSadownik.jpg");
}
#kolo{
    background-image: url("img/tKolodziej.jpg");
}
#wojtek{
    background-image: url("img/wGorka.jpg");
}
#slawek{
    background-image: url("img/sRzepa.jpg");
}
#mario{
    background-image: url("img/mSek.jpg");
}
#bartek{
    background-image: url("img/bBartosiewicz.jpg");
}
#michal{
    background-image: url("img/mWojtaszek.jpg");
}

    /*
    Singers
    END
    */

    /*
    About Section
    END
    */





