    /*
    GLOBAL
    */
*{
    box-sizing: border-box;
}

h2{
    font-size: 3rem;
    margin: 20px 0;
}

    /*
    GLOBAL
    END
    */

    /*
    Home and nav
    */

nav{
    position: fixed;
}

#navWrap{
    display: flex;
    opacity: 0.8;
    color: #fff;
}
ul{
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}
ul li{
    text-align: center;
    display: none;
    height: 50px;
}
li a{
    width: 100%;
}
    /*
    Home and nav
    END
    */

    /*
    Concerts Section
    */

#concertsDiv{
    flex-direction: column;
    margin: 20px 0 0 0;
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#concerts .concert{
    flex-direction: column;
    width: 90%;
    padding: 10px;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#concerts .concert img{
    max-height: 40vh;
    max-width: 80vw;
}

    /*
    Concerts Section
    END
    */

    /*
    About Section
    */

#aboutDiv{
    flex-direction: column;
}
#aboutDiv p{
    margin: 20px;
    max-width: 100%;
}

    /*
    Singers
    */

#singers{

}
.singer{
    min-width: 180px;
    min-height: 180px;
}
.singerInfo{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0.4;
    justify-content: center;
    width: 100%;
    color: whitesmoke;
}
    /*
    Singers
    END
    */

    /*
    About Section
    END
    */

    